@font-face {
    font-family: myONEDAY;
    src: url('/static/style/ONEDAY.ttf');
}
@font-face {
    font-family: BloggerSans;
    src: url('/static/style/Blogger Sans/BloggerSans.eot'); /* IE9 Compat Modes */
    src: url('/static/style/Blogger Sans/BloggerSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/style/Blogger Sans/BloggerSans.woff') format('woff'), /* Modern Browsers */
         url('/static/style/Blogger Sans/BloggerSans.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/style/Blogger Sans/BloggerSans.svg#BloggerSans') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


h1 {
  color: #DDE2E3;
  font-family: myONEDAY;
  font-size: 80px;
  font-weight: bold;
  /* text-shadow: 3px 3px #3C455C; */
  text-shadow: 3px 3px #f6cd61;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3C455C;
}

#flightInPage{
  /* style="color:#45ADA8;background-color:#594F4F ;width:10px" */
     font-size: 150%;
     color: #7DB95C;
     text-shadow:1px 1px #1A4A00;
     background: #3C455C;
     border-radius: 100%;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     box-shadow: 1px 1px #f6cd61;
}
#shownText{
  color: #f6cd61;
  text-shadow:2px 1px #3C455C;


}

button {
backface-visibility: hidden;
position: relative;
cursor: pointer;
display: inline-block;
white-space: nowrap;
background: linear-gradient(90deg,#3C455C 0%,#3C455C 23%,#f6cd61 20.343056921228012%,#f6cd61 100%);
border-radius: 5px;
border: 0px solid #444444;
border-width: 0px 0px 0px 0px;
padding: 10px 24px 10px 50px;
color: #3C455C;
font-size: 16px;
font-family: myONEDAY;
font-weight: 100;
font-style: normal;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination li:hover:not(.active) a {
  color: #ffffff;
  cursor: default;
  background-color: #3C455C;;
  font-family: myONEDAY;
  text-shadow: none;
}
.pager li a{
  color: #ffffff;
  cursor: default;
  background-color: hsla(0, 100%, 90%, 0.3);
  font-family: myONEDAY;
  border-radius: 30px;
  text-shadow: none;
}
.nav-tabs{
  border-bottom: 1px solid #3C455C;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-item.active{
  color: #ffffff;
  background-color: #3C455C;
  /* border-radius:  */
  border-color: #3C455C;
  font-family: myONEDAY;
  text-shadow: none;
}
.nav-tabs .nav-link{
  color: #3C455C;
  background-color: #f6cd61;
  /* background-color: hsla(0, 100%, 90%, 0.3); */
  /* border-radius:  */
  border-color: none;
  font-family: myONEDAY;
  text-shadow: none;
  border-bottom: 1px solid #3C455C;

}
div{
  font-family: BloggerSans;
  color: #3C455C;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #DDE2E3;
}
table{
    table-layout: auto;
    width: 100%;
    border-bottom: 2px solid #3C455C;
}
thead{
  background-color: #3C455C;
  color: #DDE2E3;
  text-shadow:1px 1px #60412B;
  /* color: #DDE2E3; */
}
tbody{
    /* background:rgba(251,247,218,0.8); */
    background:rgba(254,252,234,0.8);
    /* background: hsla(0, 100%, 90%, 0.3); */
}
