@font-face {
    font-family: myONEDAY;
    src: url('/static/style/ONEDAY.ttf');
}
@font-face {
    font-family: BloggerSans;
    src: url('/static/style/Blogger Sans/BloggerSans.eot'); /* IE9 Compat Modes */
    src: url('/static/style/Blogger Sans/BloggerSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/style/Blogger Sans/BloggerSans.woff') format('woff'), /* Modern Browsers */
         url('/static/style/Blogger Sans/BloggerSans.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/style/Blogger Sans/BloggerSans.svg#BloggerSans') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

h1 {
  color: #DDE2E3;
  font-family: myONEDAY;
  font-size: 80px;
  font-weight: bold;
  /* text-shadow: 3px 3px #3C455C; */
  text-shadow: 3px 3px #f6cd61;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3C455C;
}

button {
backface-visibility: hidden;
position: relative;
cursor: pointer;
display: inline-block;
white-space: nowrap;
background: linear-gradient(90deg,#3C455C 0%,#3C455C 23%,#f6cd61 20.343056921228012%,#f6cd61 100%);
border-radius: 5px;
border: 0px solid #444444;
border-width: 0px 0px 0px 0px;
padding: 10px 24px 10px 50px;
color: #3C455C;
font-size: 16px;
font-family: myONEDAY;
font-weight: 100;
font-style: normal;
text-shadow: 1px 1px #DDE2E3;

}
button > div {
  color: #999999;
font-size: 10px;
font-family: myONEDAY;
font-weight: initial;
font-style: normal;
text-align: center;
margin: 0px 0px 0px 0px
}
button > i {
color: #3C455C ;
font-size: 1em;
background: #ffffff;
border-radius: 88px;
border: 0px solid #6ec286;
border-width: 0px 0px 0px 0px;
padding: 4px 4px 4px 4px;
margin: 0px 010px 0px 0px;
position: absolute;
top: 9px;
left: 17px;
width: 24px;
height: 24px
}
button > .ld {
  font-size: initial
}
div{
  font-family: BloggerSans;
  color: #3C455C;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #DDE2E3;
}

#departing, #adults, #tocity, #destination, #cabin, #fromcity{
  background:rgba(254,252,234,0.8);
}
